* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tangerine', sans-serif;
}

#slider-container {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    margin-top: 150px;
    row-gap: 30px;
    height: 70vh;
}

.boggards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 70px;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#slider {
    width: 350px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-image {
    width: 50%;
    object-fit: bottom;
    display: none;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.arrow-right {
    right: 10%;
    border-radius: 10px 0 0 10px;
}

.arrow-left {
    left: -50%;
    border-radius: 0 10px 10px 0;
}

.arrow-left:hover, .arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.block {
    display: block;
}

.pagination-circle {
    height: 15px;
    width: 15px;
    border: 2px solid #717171;
    border-radius: 50%;
    background-color: #717171;
    transition: background-color 0.6s ease;
}

.active, .pagination-circle:hover {
    background-color: black;
}

#bottom {
    display: flex;
    column-gap: 25px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}